extends layout

block content
  h1 #{book.title}
  p from #{book.author}
  p Reader: #{reader.name}

  form(method='POST' action=`/books/${book.id}/read`)
    select(name='employeeId')
      each employee in employees
        option(value=employee._id) #{employee.name}
    button.btn.btn-primary(type='submit') Read this book
