extends layout

block content
  h1 #{owner.name}
  p from #{owner.city}, #{owner.country}
  h2 Available Books
  each book in owner.books
    li #{book.author}: #{book.title}

  br
  form(method='POST' action=`/owners/${owner.id}/books`)
    div.form-group
      label(for='title') Title:
      input#title.form-control(type='text', placeholder='' name='title')
    div.form-group
      label(for='author') Author:
      input#author.form-control(type='text', placeholder='' name='author')
    button.btn.btn-primary(type='submit') Add Book
